*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('WhatsApp Image 2025-01-22 at 16.48.37_f167a5ee.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background: transparent;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    /* border: 2px solid; */
    backdrop-filter: blur(40px);
    box-shadow: rgba(47, 14, 14, 1);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: rgb(57, 14, 14);
    box-shadow: rgba(57, 14, 14, 1);
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
    color: rgb(57, 14, 14);
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(49, 13, 13, 0.2);
    border-radius: 30px;
    font-size: 16px;
    color: rgb(35, 8, 8);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: black;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember_forget{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember_forget label input{
    accent-color: black;
    margin-right: 3px;
}

.remember_forget a{
    color: rgb(57, 14, 14);
    text-decoration: none;
}

.remember_forget a:hover{
    text-decoration: underline;
}

.wrapper .button{
    width: 100%;
    height: 45px;
    background-color: bisque;
    border: 2px solid rgb(47, 14, 14);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(
        0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 16px;
    font-color: rgb(47, 14, 14);
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    font-color: rgb(47, 14, 14);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}
